body {
    display: flex;
    flex-direction: column;
    font: roboto;
  }

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;                       
    color: #e5e7eb;
    height: 400px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
    flex-wrap: wrap;
    
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8
}


.menu {
    display: flex;
    justify-content: space-between;
}

.menu right {
    display: flex;
    justify-content: space-around;
}

.antras {
    display:flex;

}

.kairys {
    display: flex;
    flex-direction: column;
}

.desinys {
    background-color: #E5E7EB;;
    padding: 40px;
    height: 50px;
    width: 100px;
}

.middle {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}

.boxes {
    display: flex;
}

.third {
    background-color: #E5E7EB;
    height: 250px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    size: 18px;
    display: block;
    border-radius: 50;
}

p {
    size: 18px;
}

.fourth {
    background-color: white;
    height: 200px;
}

.call {
    display: flex;
    justify-content: space-between;
}