body {
    display: flex;
    flex-direction: column;
  }

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;                       
    color: #e5e7eb;
    height: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8
}


.menu {
    display: flex;
    justify-content: space-between;
}

.menu right {
    display: flex;
}

.antras {
    display:flex;

}

.antras left {
    display: flex;
    flex-direction: column;
}

.middle {
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
}